module Tenanting
  extend ActiveSupport::Concern

  included do
    before_action :require_account
  end

  class_methods do
    def allow_accountless_access(**options)
      skip_before_action :require_account, **options
    end
  end

  private
    def require_account
      resume_account || request_account
    end

    def resume_account
      Current.account ||= find_account
    end

    def find_account
<% if domain? -%>
<% if authentication? -%>
      Current.user&.accounts&.find_by_host(request.host)
<% else -%>
      Account.find_by_host(request.host)
<% end -%>
<% else -%>
      if account_id = <%= path_prefix? ? 'request.env["account_slug.id"]' : "cookies.signed[:account_id]" %>
<% if authentication? -%>
        Current.user&.accounts&.find_by(id: account_id)
<% else -%>
        Account.find_by(id: account_id)
<% end -%>
      end
<% end -%>
    end

    def request_account
<% if !authentication? -%>
      head :not_found
<% elsif path_prefix? -%>
      if request.env["account_slug.id"]
        head :not_found
      else
        redirect_to accounts_url(script_name: "")
      end
<% elsif domain? -%>
      if AccountDomain.root_host?(request.host)
        redirect_to accounts_url
      else
        head :not_found
      end
<% else -%>
      redirect_to accounts_url
<% end -%>
    end
<% if cookie? -%>

    # Sets the account for this request and the ones after it, e.g. from an account picker.
    def switch_to_account(account)
      cookies.signed.permanent[:account_id] = { value: account.id, httponly: true, same_site: :lax }
      Current.account = account
    end
<% end -%>
end
