module AccountTestHelper
  def switch_to_account(account)
    Current.account = account
  end
end

module AccountIntegrationTestHelper
<% if path_prefix? -%>
  # Also prefixes generated URLs with the account, so requests resolve it from the path.
<% elsif domain? -%>
  # Also sends requests to the account's host, so requests resolve it from the domain. Sign in
  # after switching, since sign ins belong to a host, like in a browser.
<% else -%>
  # Also sets the account cookie, so requests resolve it the same way as in production.
<% end -%>
  def switch_to_account(account)
    super
    @switched_account = account
<% if path_prefix? -%>
    self.default_url_options = default_url_options.merge(script_name: account&.slug)
<% elsif domain? -%>
    host! account ? account.host : "www.#{AccountDomain.domain}"
<% else -%>

    if account
      ActionDispatch::TestRequest.create.cookie_jar.tap do |cookie_jar|
        cookie_jar.signed[:account_id] = account.id
        cookies[:account_id] = cookie_jar[:account_id]
      end
    else
      cookies.delete(:account_id)
    end
<% end -%>
  end

  # Rails resets Current around each request, so restore the account for assertions afterwards.
  %i[ get post patch put head delete follow_redirect! ].each do |method|
    define_method(method) do |*args, **options|
      super(*args, **options).tap { Current.account = @switched_account }
    end
  end
end

ActiveSupport.on_load(:active_support_test_case) do
  include AccountTestHelper
end

ActiveSupport.on_load(:action_dispatch_integration_test) do
  include AccountIntegrationTestHelper
end
